<!--
Simple launch file that starts up my robot
 - serial_node
 - rososc
 - soccer (robot)
-->
<launch>
    <!-- serial node -->
    <node pkg="serial_node" type="serial_node" name="serial" args="0 /dev/cu.usbserial-A7004IPE  9600" />
    
    <!-- Robot -->
    <node pkg="soccer" type="soccer" name="soccer"/>
    
    <!-- Camera -->
    <!-- node pkg="camera_node" type="opencv_cam" name="opencv_cam" output="screen" args=" -source http://admin:dlink@192.168.1.151/video.cgi?.mjpg" / -->
</launch>
